! template: isisd/isisd.conf.j2
!
! ISIS configuration using config DB ISIS instance tables
!
{% include "common/daemons.common.conf.j2" %}
!
{% include "isisd.conf.db.j2" %}
!
! end of template: isisd/isisd.conf.j2
!
