!
! template: frr/bgpd/templates/ER_V4/peer-group.conf.j2
!
  neighbor ER_V4 peer-group
  address-family ipv4
    neighbor ER_V4 allowas-in 1
    neighbor ER_V4 soft-reconfiguration inbound
    neighbor ER_V4 route-map FROM_ER_V4 in
    neighbor ER_V4 route-map TO_ER_V4 out
  exit-address-family
!
! end of template: frr/bgpd/templates/ER_V4/peer-group.conf.j2
!
