Package: sonic-platform-et6448m
Version: 0.1
Architecture: armhf
Maintainer: Marvell <arheneus@marvell.com>
Installed-Size: 10
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
