[Unit]
Description=Process and docker CPU/memory utilization data export daemon
Requires=updategraph.service
After=updategraph.service

[Service]
Type=simple
ExecStart=/usr/bin/procdockerstatsd
Restart=Always

[Install]
WantedBy=multi-user.target

