!
! template: bgpd/templates/msft.general/v4.leaf.msee/peer-group.conf.j2
!
  neighbor TIER0_V4 peer-group
  address-family ipv4 unicast
    neighbor TIER0_V4 activate
    neighbor TIER0_V4 soft-reconfiguration inbound
    neighbor TIER0_V4 route-map FROM_TIER0_V4 in
    neighbor TIER0_V4 route-map TO_TIER0_V4 out
    neighbor TIER0_V4 send-community
    neighbor TIER0_V4 maximum-prefix 12000 90 warning-only
{% if constants.bgp.enable_bbr %}
    neighbor TIER0_V4 allowas-in 1
{% endif %}
  exit-address-family
!
! end of template: bgpd/templates/msft.general/v4.leaf.msee/peer-group.conf.j2
!
