[Unit]
Description=Platform es1227_54ts psu monitor Service
After=pmon.service es1227_54ts-init.service
DefaultDependencies=no

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/psu_detect.py
KillSignal=SIGKILL
SuccessExitStatus=SIGKILL
Restart=on-failure
RestartSec=5s
#StandardOutput=tty

[Install]
WantedBy=multi-user.target
