!
! template: bgpd/templates/msft.general/v6.leaf.tor.all/peer-group.conf.j2
!
  neighbor TIER1_V6 peer-group
  address-family ipv6 unicast
    neighbor TIER1_V6 activate
    neighbor TIER1_V6 soft-reconfiguration inbound
    neighbor TIER1_V6 allowas-in 1
    neighbor TIER1_V6`maximum-prefix 1000 90 warning-only
  exit-address-family
!
! end of template: bgpd/templates/msft.general/v6.leaf.tor.all/peer-group.conf.j2
!
