[Unit]
Description=VRF config enforcer daemon
Wants=network-online.target updategraph.service networking.service

[Service]
Type=simple
ExecStart=/usr/bin/vrfcfgd

[Install]
WantedBy=multi-user.target
