Source: thrift
Section: devel
Priority: optional
Maintainer: Laszlo Boszormenyi (GCS) <gcs@debian.org>
Build-Depends: debhelper (>= 9), dh-python,
 dh-golang, golang-golang-x-net-dev,
 gem2deb (>= 0.3.0~),
 cmake (>= 3.3),
 libboost-all-dev (>= 1.61.0), libevent-dev, zlib1g-dev,
 libssl-dev,
 libglib2.0-dev,
 qtbase5-dev,
 python-all-dev (>= 2.6.6-3~), python-twisted, python-six,
 python3-six,
 golang-go, golang-github-golang-mock-dev,
 pkg-php-tools (>= 1.14~), php-dev, phpunit,
 perl (>= 5.22), libbit-vector-perl, libclass-accessor-perl,
# openjdk-11-jdk, javahelper, maven-debian-helper (>= 1.5), ant (>= 1.7), ant-optional,
# libhttpclient-java, libslf4j-java, libservlet3.1-java (>= 8),
# nodejs, npm,
 ruby-dev (>= 1:2.2), ruby, bundler,
 rake,
 ruby-daemons, ruby-diff-lcs, ruby-eventmachine, ruby-rspec-core,
 ruby-rack, ruby-rack-test,
 ruby-rspec, ruby-rspec-expectations, ruby-rspec-mocks,
 thin,
# erlang-dev, erlang-eunit,
# liblua5.2-dev,
# google-mock
Build-Depends-Indep: composer
Standards-Version: 4.3.0
Homepage: https://thrift.apache.org/
XS-Ruby-Versions: ruby2.2

Package: libthrift
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Thrift C++ library
 Thrift is a software framework for the development of reliable and
 performant communication and data serialization.  It combines a software
 stack with code generation to build services that operate seamlessly
 across a number of different development languages.
 .
 This package contains the runtime libraries needed for C++ applications
 using Thrift.

Package: libthrift-dev
Architecture: any
Section: libdevel
Depends: libthrift (= ${binary:Version}), ${misc:Depends}, pkg-config
Description: Thrift C++ library (development headers)
 Thrift is a software framework for the development of reliable and
 performant communication and data serialization.  It combines a software
 stack with code generation to build services that operate seamlessly
 across a number of different development languages.
 .
 This package contains the development libraries required for writing C++
 applications using Thrift.

Package: libthrift-c-glib0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Thrift glib library
 Thrift is a software framework for the development of reliable and
 performant communication and data serialization.  It combines a software
 stack with code generation to build services that operate seamlessly
 across a number of different development languages.
 .
 This package contains the glib based runtime libraries needed for C
 applications using Thrift.

Package: libthrift-c-glib-dev
Architecture: any
Section: libdevel
Depends: libthrift-c-glib0 (= ${binary:Version}), ${misc:Depends}, pkg-config
Description: Thrift glib library (development headers)
 Thrift is a software framework for the development of reliable and
 performant communication and data serialization.  It combines a software
 stack with code generation to build services that operate seamlessly
 across a number of different development languages.
 .
 This package contains the development libraries required for writing glib
 based C applications using Thrift.

Package: thrift-compiler
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: thrift-compiler (<= 0.9.1-2)
Replaces: thrift-compiler (<= 0.9.1-2)
Description: code generator/compiler for Thrift definitions
 Thrift is a software framework for the development of reliable and
 performant communication and data serialization.  It combines a software
 stack with code generation to build services that operate seamlessly
 across a number of different development languages.
 .
 This package contains the compiler used to generate language code from
 Thrift definition files.

Package: python-thrift
Section: python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Conflicts: python-thrift (<= 0.9.1-2)
Replaces: python-thrift (<= 0.9.1-2)
Description: Python library for Thrift
 Thrift is a software framework for the development of reliable and
 performant communication and data serialization. It combines a software
 stack with a code generation to build services that operate seamlessly
 across a number of different development languages.
 .
 This package provides the Python bindings for Thrift.

Package: python-thrift-dbg
Section: debug
Architecture: any
Depends: python-thrift (= ${binary:Version}), ${misc:Depends}
Description: Python library for Thrift (debug symbols)
 Thrift is a software framework for the development of reliable and
 performant communication and data serialization.  It combines a software
 stack with code generation to build services that operate seamlessly
 across a number of different development languages.
 .
 This package contains the debugging symbols for Python bindings of Thrift.

#Package: libthrift-java
#Section: java
#Architecture: all
#Depends: ${java:Depends}, ${misc:Depends}
#Conflicts: libthrift-java (<= 0.9.1-2)
#Replaces: libthrift-java (<= 0.9.1-2)
#Description: Java language support for Thrift
# Thrift is a software framework for the development of reliable and
# performant communication and data serialization. It combines a software
# stack with code generation to build services that operate seamlessly
# across a number of different development languages.
# .
# This package provides the Java language support for Thrift.
#
#Package: libthrift-java-doc
#Architecture: all
#Section: doc
#Depends: ${misc:Depends}
#Suggests: libthrift-java
#Description: Java language support for Thrift - documentation
# Thrift is a software framework for the development of reliable and
# performant communication and data serialization. It combines a software
# stack with code generation to build services that operate seamlessly
# across a number of different development languages.
# .
# This package contains Javadoc HTML documentation for libthrift-java .
#
# Package: php-thrift
# Architecture: any
# Section: php
# Depends: ${phpcomposer:Debian-require}, ${misc:Depends}
# Provides: ${php:Provides}
# Conflicts: php7.0-thrift, php7.2-thrift
# Replaces: php7.0-thrift, php7.2-thrift
# Description: PHP language support for Thrift
#  Thrift is a software framework for the development of reliable and
#  performant communication and data serialization. It combines a software
#  stack with code generation to build services that operate seamlessly
#  across a number of different development languages.
#  .
#  This package provides the PHP5 language support for Thrift.

# Package: libthrift-perl
# Section: perl
# Architecture: all
# Depends: ${perl:Depends}, ${misc:Depends}
# Description: Perl language support for Thrift
#  Thrift is a software framework for the development of reliable and
#  performant communication and data serialization. It combines a software
#  stack with code generation to build services that operate seamlessly
#  across a number of different development languages.
#  .
#  This package provides the Perl language support for Thrift.

# Package: golang-thrift-dev
# Architecture: amd64 arm64 armel armhf i386 ppc64el
# Depends: ${misc:Depends}
# Description: Go language support for Thrift
#  Thrift is a software framework for the development of reliable and
#  performant communication and data serialization. It combines a software
#  stack with code generation to build services that operate seamlessly
#  across a number of different development languages.
#  .
#  This package provides the Go language support for Thrift.
# #
#Package: ruby-thrift
#Section: libs
#Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}
#Description: Ruby library for Thrift
# Thrift is a software framework for the development of reliable and
# performant communication and data serialization. It combines a software
# stack with a code generation to build services that operate seamlessly
# across a number of different development languages.
# .
# This package provides the Ruby bindings for Thrift.
