Source: sonic-inspur-platform-modules
Section: main
Priority: extra
Maintainer: Inspur Switch Team <switchsupport@inspur.com>
Build-Depends: debhelper (>= 8.0.0), bzip2
Standards-Version: 3.9.3

Package: sonic-platform-inspur-superior
Architecture: amd64
Depends: linux-image-4.9.0-8-amd64
Description: Kernel modules for Inspur platform devices such as eeprom, psu, sfp

Package: sonic-platform-inspur-victoria
Architecture: amd64
Depends: linux-image-4.9.0-8-amd64
Description: Kernel modules for Inspur platform devices such as eeprom, psu, sfp

Package: sonic-platform-inspur-sc5610b1
Architecture: amd64
Depends: linux-image-4.9.0-8-amd64
Description: Kernel modules for Inspur platform devices such as eeprom, psu, sfp

Package: sonic-platform-inspur-sc5630el
Architecture: amd64
Depends: linux-image-4.9.0-9-2-amd64
Description: Kernel modules for Inspur platform devices such as eeprom, psu, sfp
