[Unit]
Description=telemetry service
After=network.target

[Service]
ExecStart=/usr/sbin/telemetry $DAEMON_ARGS
#ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=telemetry.service

