!
! template: bgpd/templates/msft.general/v6.leaf.tor.dnsagg/peer-group.conf.j2
!
  neighbor DNS_AGG_V6_{{ neighbor_deployment_id }} peer-group
  address-family ipv6 unicast
    neighbor DNS_AGG_V6_{{ neighbor_deployment_id }} activate
    neighbor DNS_AGG_V6_{{ neighbor_deployment_id }} soft-reconfiguration inbound
    neighbor DNS_AGG_V6_{{ neighbor_deployment_id }} route-map FROM_DNS_AGG_V6_{{ neighbor_deployment_id }} in
    neighbor DNS_AGG_V6_{{ neighbor_deployment_id }} route-map TO_DNS_AGG_V6 out
    neighbor DNS_AGG_V6_{{ neighbor_deployment_id }} send-community
    neighbor DNS_AGG_V6_{{ neighbor_deployment_id }} maximum-prefix 20 50
  exit-address-family
!
! end of template: bgpd/templates/msft.general/v6.leaf.tor.dnsagg/peer-group.conf.j2
!
