!
! template: bgpd/templates/msft.dynamic/instance.conf.j2
!
{% from "bgpd/templates/msft.dynamic/router.j2" import dynamic_routing with context %}
{{ dynamic_routing("instance") }}
!
! end of template: bgpd/templates/msft.dynamic/instance.conf.j2
!
