{% macro dynamic_routing(template_name) %}
{% set device_type = CONFIG_DB__DEVICE_METADATA['localhost']['type'] %}
{% set deployment_id = CONFIG_DB__DEVICE_METADATA['localhost']['deployment_id'] %}
{% set resource_type = CONFIG_DB__DEVICE_METADATA['localhost']['resource_type'] %}
{% set path_template = "bgpd/templates/msft.dynamic/%s/" + template_name + ".conf.j2" %}
{% if device_type in ['ToRRouter', 'BackEndToRRouter'] %}
{%     if deployment_id is defined and deployment_id == '26' %}
{%         include path_template % "tor.rotterdam" %}
{%     elif resource_type is defined and (resource_type == 'FPGASTP' or resource_type == 'SDNAPPLIANCE') %}
{%         include path_template % "tor.rotterdam" %}
{%     else %}
{%         include path_template % "tor" %}
{%     endif %}
{% endif %}
{% endmacro %}
