[Unit]
Description=Update coredump configuration
Requires=updategraph.service
After=updategraph.service

[Service]
Type=oneshot
ExecStart=/usr/bin/coredump-config.sh

[Install]
WantedBy=multi-user.target
