{
    "version": "1.0.0",
    "package": {
        "version": "{{ version }}",
        "base-os-contraint": "^1.0.0",
        "depends": [
            "database^1.0.0"
        ],
        "name": "{{ package_name }}"
    },
    "service": {
        "name": "{{ name }}",
        "asic-service": false,
        "host-service": true
    }
}
