{
    "version": "1.0.0",
    "package": {
        "version": "{{ version }}",
        "base-os-contraint": "^1.0.0",
        "depends": [
            "database^1.0.0"
        ],
        "name": "{{ package_name }}"
    },
    "service": {
        "name": "{{ name }}",
        "requires": [
            "updategraph"
        ],
        "after": [
            "swss",
            "syncd",
            "teamd"
        ],
        "before": [
            "ntp-config"
        ],
        "dependent-of": ["swss"],
        "asic-service": false,
        "host-service": true
    },
    "container": {
        "privileged": true,
        "volumes": [
            "/etc/sonic:/etc/sonic:ro",
            "/usr/share/sonic/scripts:/usr/share/sonic/scripts:ro"
        ],
        "tmpfs": [
            "/tmp/",
            "/var/tmp/"
        ]
    },
    "cli": {
        "config": "/cli/config/plugins/dhcp_relay.py",
        "show": "/cli/show/plugins/dhcp_relay.py"
    }
}
