!
! template: bgpd/templates/general/policies.conf.j2
!
{% from "bgpd/templates/msft.general/router.j2" import general_routing with context %}
{{ general_routing("policy") }}
!
! end of template: bgpd/templates/general/policies.conf.j2
!
