{% macro general_routing(template_name) %}
{% set device_type = CONFIG_DB__DEVICE_METADATA['localhost']['type'] %}
{% set deployment_id = CONFIG_DB__DEVICE_METADATA['localhost']['deployment_id'] %}
{% set asn_number = CONFIG_DB__DEVICE_METADATA['localhost']['bgp_asn'] %}
{% set neighbor_type = CONFIG_DB__DEVICE_NEIGHBOR_METADATA[bgp_session['name']]['type'] %}
{% set neighbor_deployment_id = CONFIG_DB__DEVICE_NEIGHBOR_METADATA[bgp_session['name']]['deployment_id'] %}
{% set devicedownstream_subrole = CONFIG_DB__DEVICE_METADATA['localhost']['downstream_subrole'] %}
{% set is_storage_device = CONFIG_DB__DEVICE_METADATA['localhost']['storage_device'] %}
{% if is_storage_device is not defined or is_storage_device | length == 0 %}
{% set is_storage_device = "false" %}
{% endif %}
{% if neighbor_deployment_id is not defined or neighbor_deployment_id | length == 0 %}
{% set neighbor_deployment_id = 0 %}
{% endif %}
{% set path_template = "bgpd/templates/msft.general/%s/" + template_name + ".conf.j2" %}
{% if neighbor_addr | ipv4 %}
{%     if device_type in ['MgmtToRRouter', 'MgmtTsToR', 'EPMS', 'BmcMgmtToRRouter'] %}
{%         if device_type in ['MgmtToRRouter', 'MgmtTsToR'] and neighbor_type == 'CoreTs' %}
{%             include path_template % "v4.mgmttor.oob" %}
{%         elif device_type in ['BmcMgmtToRRouter'] %}
{%             include path_template % "v4.mgmttor.mx" %}
{%         else %}
{%             include path_template % "v4.mgmttor" %}
{%         endif %}
{%     elif device_type in ['ToRRouter', 'BackEndToRRouter'] %}
{%         if deployment_id is defined and deployment_id == '26' %}
{%             include path_template % "v4.tor.rotterdam" %}
{%         elif neighbor_type == 'BackEndToRRouter' %}
{%             include path_template % "v4.tor.frontend" %}
{%         elif neighbor_type == 'ToRRouter' %}
{%             include path_template % "v4.tor.backend" %}
{%         else %}
{%             include path_template % "v4.tor" %}
{%         endif %}
{%     elif device_type in ['LeafRouter', 'BackEndLeafRouter'] %}
{%         if neighbor_type == 'SpineRouter' %}
{%             include path_template % "v4.leaf.spine" %}
{%         elif neighbor_type in ['ToRRouter', 'BackEndToRRouter', 'AggRouter', 'VpnAggregator'] %}
{%             if neighbor_deployment_id is defined and neighbor_deployment_id == '26' %}
{%                 include path_template % "v4.leaf.tor.tycoon" %}
{%             else %}
{%                 include path_template % "v4.leaf.tor.all" %}
{%             endif %}
{%         elif neighbor_type == 'MseeRouter' %}
{%             if neighbor_deployment_id is defined and neighbor_deployment_id == '26' %}
{%                 include path_template % "v4.leaf.tor.tycoon" %}
{%             else %}
{%                 include path_template % "v4.leaf.msee" %}
{%             endif %}
{%         else %}
{%                 include path_template % "v4.leaf.tor.all" %}
{%         endif %}
{%     elif device_type in ['SpineRouter'] %}
{%         if neighbor_type == 'RegionalHub' %}
{%                 include path_template % "v4.spine.rh" %}
{%         elif neighbor_type == 'AZNGHub' %}
{%                 include path_template % "v4.spine.ah" %}
{%         elif neighbor_type == 'LeafRouter' %}
{%                 include path_template % "v4.spine.leaf" %}
{%         endif %}
{%     endif %}
{% endif %}
{% if neighbor_addr | ipv6 %}
{%     if device_type in ['MgmtToRRouter', 'MgmtTsToR', 'EPMS', 'BmcMgmtToRRouter'] %}
{%         if device_type in ['MgmtToRRouter', 'MgmtTsToR'] and neighbor_type == 'CoreTs' %}
{%             include path_template % "v6.mgmttor.oob" %}
{%         elif device_type in ['BmcMgmtToRRouter'] %}
{%             include path_template % "v6.mgmttor.mx" %}
{%         else %}
{%             include path_template % "v6.mgmttor" %}
{%         endif %}
{%     elif device_type in ['ToRRouter', 'BackEndToRRouter'] %}
{%         if deployment_id is defined and deployment_id == '26' %}
{%             include path_template % "v6.tor.rotterdam" %}
{%         else %}
{%             include path_template % "v6.tor" %}
{%         endif %}
{%     elif device_type in ['LeafRouter', 'BackEndLeafRouter'] %}
{%         if neighbor_type == 'SpineRouter' %}
{%             include path_template % "v6.leaf.spine" %}
{%         elif neighbor_type in ['ToRRouter', 'BackEndToRRouter', 'AggRouter', 'VpnAggregator'] %}
{%             if neighbor_deployment_id is defined and neighbor_deployment_id == '26' %}
{%                 include path_template % "v6.leaf.tor.tycoon" %}
{%             elif neighbor_deployment_id is defined and neighbor_deployment_id == '19' %}
{%                 include path_template % "v6.leaf.tor.dnsagg" %}
{%             elif neighbor_deployment_id is defined and neighbor_deployment_id == '21' %}
{%                 include path_template % "v6.leaf.tor.dnsagg" %}				
{%             else %}
{%                 include path_template % "v6.leaf.tor.all" %}
{%             endif %}
{%         elif neighbor_type == 'MseeRouter' %}
{%             if neighbor_deployment_id is defined and neighbor_deployment_id == '26' %}
{%                 include path_template % "v6.leaf.tor.tycoon" %}
{%             else %}
{%                 include path_template % "v6.leaf.msee" %}
{%             endif %}
{%         else %}
{%                 include path_template % "v6.leaf.tor.all" %}
{%         endif %}
{%     elif device_type in ['SpineRouter'] %}
{%         if neighbor_type == 'RegionalHub' %}
{%                 include path_template % "v6.spine.rh" %}
{%         elif neighbor_type == 'AZNGHub' %}
{%                 include path_template % "v6.spine.ah" %}
{%         elif neighbor_type == 'LeafRouter' %}
{%                 include path_template % "v6.spine.leaf" %}
{%         endif %}
{%     endif %}
{% endif %}
{% endmacro %}
