!
{% from "common/functions.conf.j2" import get_ipv4_loopback_address, get_ipv6_loopback_address, get_vnet_interfaces %}
!
{% block loopback_route %}
! add static ipv6 loopback route to allow bgpd to advertise the loopback route prefix
{% if get_ipv6_loopback_address(LOOPBACK_INTERFACE, "Loopback0") != 'None' %}
{% for (name, prefix) in LOOPBACK_INTERFACE|pfx_filter %}
{% if name == "Loopback0" and prefix | ipv6 %}
ipv6 route {{ prefix | ip_network }}/{{ prefix | prefixlen }} Loopback0
{% endif %}
{% endfor %}
{% endif %}
{% endblock loopback_route %}
!