[Unit]
Description=Discard unused blocks once a week
Documentation=man:fstrim

[Timer]
OnCalendar=weekly
OnBootSec=600
AccuracySec=3600
Persistent=true

[Install]
WantedBy=multi-user.target
