!
! template: bgpd/templates/msft.general/v4.tor.rotterdam/policy.conf.j2
!
ip community-list standard COMM_SDN_APPLIANCE permit 8075:9302
!
route-map FROM_TIER1_V4 permit 100
!
route-map TO_TIER1_V4 permit 100
  match ip address prefix-list LOCAL_VLAN_IPV4_PREFIX
  set community 8075:9302 8075:420
!
route-map TO_TIER1_V4 permit 200
  match ip address prefix-list PL_LoopbackV4
  set community 8075:9302
!
route-map TO_TIER1_V4 permit 300
  match community COMM_SDN_APPLIANCE
!
route-map TO_TIER1_V4 deny 400
!
! end of template: bgpd/templates/msft.general/v4.tor.rotterdam/policy.conf.j2
!
