[Unit]
Description=Pegastron fn-6254-dn-f Platform initialization service
Before=network.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pegatron_fn_6254_dn_f_util.py install
ExecStop=/usr/local/bin/pegatron_fn_6254_dn_f_util.py uninstall
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
