!
! template: bgpd/templates/msft.general/v6.leaf.msee/policy.conf.j2
!
bgp community-list standard LEAK_COMMUNITY permit 8075:10400
bgp community-list standard UPSTREAM_PREFIX permit 8075:54000
bgp community-list expanded LEAK_PLUS_UPSTREAM permit .*8075:10400.*8075:54000.*
bgp community-list expanded LEAK_PLUS_UPSTREAM permit .*8075:54000.*8075:10400.*
!
ipv6 prefix-list DEFAULT_IPV6 permit ::/0
ipv6 prefix-list IPV6_64_ONLY permit ::/0 ge 64 le 64
!
route-map FROM_TIER0_V6 permit 100
 set ipv6 next-hop prefer-global
 on-match next
!
route-map FROM_TIER0_V6 permit 200
 match ipv6 address prefix-list DEFAULT_IPV6
 match community UPSTREAM_PREFIX
 set local-preference 90
!
route-map FROM_TIER0_V6 permit 300
 match community LEAK_PLUS_UPSTREAM
 set local-preference 90
!
route-map FROM_TIER0_V6 permit 400
 match community LEAK_COMMUNITY
 match ipv6 address prefix-list IPV6_64_ONLY
 set comm-list LEAK_COMMUNITY delete
!
route-map FROM_TIER0_V6 permit 500
 match ipv6 address prefix-list IPV6_64_ONLY
!
route-map FROM_TIER0_V6 deny 10000
!
route-map TO_TIER0_V6 permit 100
 match community UPSTREAM_PREFIX
 match ipv6 address prefix-list DEFAULT_IPV6
!
route-map TO_TIER0_V6 permit 200
 match community LEAK_PLUS_UPSTREAM
!
route-map TO_TIER0_V6 permit 300
 match community UPSTREAM_PREFIX
 set community no-export additive
!
route-map TO_TIER0_V6 permit 10000
!
! end of template: bgpd/templates/msft.general/v6.leaf.msee/policy.conf.j2
!
