[Unit]
Description=Accton MiniPack Platform initialization service
Before=pmon.service determine-reboot-cause.service
After=sysinit.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/accton_minipack_util.py install
ExecStop=/usr/local/bin/accton_minipack_util.py clean
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
