!
! template: bgpd/templates/msft.general/v6.leaf.tor.all/peer-group.conf.j2
!
  neighbor VPN_OOB_V6 peer-group
  address-family ipv6 unicast
    neighbor VPN_OOB_V6 activate
    neighbor VPN_OOB_V6 soft-reconfiguration inbound
    neighbor VPN_OOB_V6 route-map FROM_VPN_OOB_V6 in
    neighbor VPN_OOB_V6 route-map TO_VPN_OOB_V6 out
    neighbor VPN_OOB_V6 send-community
    neighbor VPN_OOB_V6 maximum-prefix 1000 90 warning-only
  exit-address-family
!
! end of template: bgpd/templates/msft.general/v6.leaf.tor.all/peer-group.conf.j2
!
