[Unit]
Description=DS4101 Platform Monitoring service
Before=process-reboot-cause.service determine-reboot-cause.service pmon.service
After=pddf-platform-init.service
DefaultDependencies=no

[Service]
ExecStart=/usr/local/bin/pddf_fan_control_sensor_refresh.py
Restart=always
RestartSec=30s
KillSignal=SIGKILL
SuccessExitStatus=SIGKILL

# Resource Limitations
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
