[
{% if PORT %}
{% for port in PORT %}
    {
        "PORT_TABLE:{{ port }}": {
            "speed": "{{ PORT[port]['speed'] }}",
            "description": "{{ PORT[port]['description'] }}"
        },
        "OP": "SET"
    }{% if not loop.last %},{% endif %}

{% endfor %}
{% endif %}
]
