[Unit]
Description=Silverstone-V2 Platform Monitoring service
Before=pmon.service
After=pddf-platform-init.service
DefaultDependencies=no

[Service]
ExecStart=/usr/local/bin/pddf_switch_svc.py
KillSignal=SIGKILL
SuccessExitStatus=SIGKILL

# Resource Limitations
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
