!
! template: bgpd/templates/msft.general/v4.tor.storage.backend/policy.conf.j2
! Allow all routes to be sent to T0 (default action - implicit deny at the end)

route-map TO_TIER0_V4 permit 10
!

route-map FROM_TIER0_V4 permit 10
! Allow all routes from T0 (default action - implicit deny at the end)
!
! end of template: bgpd/templates/msft.general/v4.leaf.storage.backend/policy.conf.j2
!
