!
! template: bgpd/templates/msft.general/v6.spine.ah/peer-group.conf.j2
!
  neighbor AH_V6 peer-group
  address-family ipv6 unicast
    neighbor AH_V6 activate
    neighbor AH_V6 soft-reconfiguration inbound
    neighbor AH_V6 route-map FROM_AH_V6 in
    neighbor AH_V6 route-map TO_AH_V6 out
    neighbor AH_V6 send-community
    neighbor AH_V6 maximum-prefix 64000 90 warning-only
  exit-address-family
!
! end of template: bgpd/templates/msft.general/v6.spine.ah/peer-group.conf.j2
!
