!
! template: bgpd/templates/msft.general/v4.spine.rh/peer-group.conf.j2
!
  neighbor RH_V4 peer-group
  address-family ipv4 unicast
    neighbor RH_V4 activate
    neighbor RH_V4 soft-reconfiguration inbound
    neighbor RH_V4 route-map FROM_RH_V4 in
    neighbor RH_V4 route-map TO_RH_V4 out
    neighbor RH_V4 send-community
    neighbor RH_V4 maximum-prefix 64000 90 warning-only
  exit-address-family
!
! end of template: bgpd/templates/msft.general/v4.spine.rh/peer-group.conf.j2
!
