!
! template: bgpd/templates/msft.general/v4.spine.rh/policy.conf.j2
!
bgp community-list standard LEAK_COMMUNITY permit 8075:10400
bgp community-list standard INREGION_LEAK_COMMUNITY permit 8075:54002
bgp community-list standard FABRIC_INFRA_COMMUNITY permit 8075:316
!
bgp as-path access-list WAN_ASNS permit _8075_
bgp as-path access-list WAN_ASNS permit _8074_
bgp as-path access-list WAN_ASNS permit _8072_
!
ip prefix-list DEFAULT_IPV4 permit 0.0.0.0/0
!
route-map FROM_RH_V4 permit 100
  match ip address prefix-list DEFAULT_IPV4
!
route-map FROM_RH_V4 permit 200
  match community LEAK_COMMUNITY
!
route-map FROM_RH_V4 permit 300
  match community INREGION_LEAK_COMMUNITY
!
route-map FROM_RH_V4 permit 400
  match community FABRIC_INFRA_COMMUNITY
!
route-map FROM_RH_V4 deny 1000
!
route-map TO_RH_V4 deny 100
  match as-path WAN_ASNS
!
route-map TO_RH_V4 deny 200
  match ip address prefix-list DEFAULT_IPV4
!
route-map TO_RH_V4 permit 1000
!
! end of template: bgpd/templates/msft.general/v4.spine.rh/policy.conf.j2
!
