[Unit]
Description=Platform db98cx8580-32cd Service
After=sysinit.target
Before=pmon.service

[Service]
ExecStart=/usr/local/bin/db98cx8580-32cd-init.sh
StandardOutput=tty

[Install]
WantedBy=multi-user.target
