[Unit]
Description=Previous reboot cause handling service
Requires=database.service
After=database.service

[Service]
Type=simple
ExecStart=/usr/local/bin/process-reboot-cause
