!
{% block vrf %}
{%  if VNET is defined %}
{%   for vnet_name, vnet_metadata in VNET.items() %}
vrf {{ vnet_name }}
vni {{ vnet_metadata['vni'] }}
exit
!
{%   endfor %}
{%  endif %}
{% endblock vrf %}
{% block setsrc %}
{%  if BGP_GLOBALS is defined and BGP_GLOBALS|length > 0 %}
{%   for vrf, bgp_sess in BGP_GLOBALS.items() %}
{%    if 'route_map' in bgp_sess %}
!
vrf {{ vrf }}
 ip protocol bgp route-map {{ bgp_sess['route_map'] }}
{%    endif %}
{%   endfor %}
{%  endif %}
{%  if ROUTE_MAP is defined and ROUTE_MAP|length > 0 %}
{%   for rm_key, rm_val in ROUTE_MAP.items() %}
{%    if 'route_operation' in rm_val and 'set_src' in rm_val %}
!
route-map {{rm_key[0]}} {{rm_val['route_operation']}} {{rm_key[1]}}
 set src {{rm_val['set_src']}}
{%    endif %}
{%   endfor %}
{%  endif %}
{% endblock setsrc %}
!
{% block interfaces %}
! Enable nht through default route
ip nht resolve-via-default
ipv6 nht resolve-via-default
! Enable link-detect (default disabled)
{% for (name, prefix) in INTERFACE|pfx_filter %}
interface {{ name }}
link-detect
!
{% endfor %}
{% for pc in PORTCHANNEL %}
interface {{ pc }}
link-detect
!
{% endfor %}
{% if (DEVICE_METADATA is defined) and ('localhost' in DEVICE_METADATA) and ('subtype' in DEVICE_METADATA['localhost']) and (DEVICE_METADATA['localhost']['subtype'].lower() == 'dualtor') %}
! Disable link-detect on VLAN interfaces for dualtor
{% for (name, prefix) in VLAN_INTERFACE|pfx_filter|unique(attribute=0) %}
interface {{ name }}
no link-detect
!
{% endfor %}
{% endif %}
{% endblock interfaces %}
!
