[Unit]
Description=FS N8550-32C Platform Monitoring service
Before=pmon.service
After=n8550-32c-platform-handle_mac.service
DefaultDependencies=no

[Service]
ExecStartPre=/usr/local/bin/fs_n8550_32c_util.py install
ExecStart=/usr/local/bin/fs_n8550_32c_monitor.py
KillSignal=SIGKILL
SuccessExitStatus=SIGKILL
#StandardOutput=tty

# Resource Limitations
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
