
[Unit]
Description=Celestica Questone2f platform modules
After=local-fs.target
Before=pmon.service

[Service]
Type=oneshot
ExecStart=-/etc/init.d/platform-modules-questone2f start
ExecStop=-/etc/init.d/platform-modules-questone2f stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
