#!/usr/bin/env bash

function ip_tables_install
{
    echo "Installing Iptables mangle rules"
    prefix=$1
    cmd=$2

    # Set first with prerouting and direction = destination
    chain="PREROUTING"
    dir="d"
    while true; do
        exec="${cmd} -t mangle -C ${chain} -p tcp --tcp-flags SYN SYN -${dir} ${prefix} -j TCPMSS --set-mss 1460"
        $exec 2> /dev/null
        if [ $? -eq 0 ]; then
            echo "${prefix} rule exists in ${chain}"
        else
            exec="${cmd} -t mangle -A ${chain} -p tcp --tcp-flags SYN SYN -${dir} ${prefix} -j TCPMSS --set-mss 1460"
            echo $exec
            $exec
        fi

        if [ $chain = "PREROUTING" ]; then
            chain="POSTROUTING"
            dir="s"
        else
            break
        fi
    done
}

{% block loopback %}
# Iptables rules for the loopback network interface
{% for (name, prefix) in LOOPBACK_INTERFACE|pfx_filter %}
ip_tables_install {{ prefix | ip }} {{ 'iptables' if prefix | ipv4 else 'ip6tables' }}
{% endfor %}
{% endblock loopback %}
