[Unit]
Description=Setting up Asterfusion CX564P
After=sysinit.target
Requires=systemd-modules-load.service
After=systemd-modules-load.service
Before=sysvinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/cx564p_monitor.sh start

[Install]
WantedBy=multi-user.target
