{% for mclag_id in MC_LAG %}
mclag_id:{{mclag_id}}
    local_ip:{{MC_LAG[mclag_id]['local_ip']}}
    peer_ip:{{MC_LAG[mclag_id]['peer_ip']}}
    peer_link:{{MC_LAG[mclag_id]['peer_link']}}
    bind_lacp:{{MC_LAG[mclag_id]['bind_lacp']}}
{% endfor %}

