[Unit]
Description=Accton AS5912-54X Platform initialization service
Before=pmon.service
After=sysinit.target
DefaultDependencies=no

[Service]
ExecStartPre=/usr/local/bin/accton_as5912_util.py install
ExecStart=/usr/local/bin/accton_as5912_monitor.py
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
