!
! template: frr/bgpd/templates/T0_V4/peer-group.conf.j2
!
  neighbor T0_V4 peer-group
  address-family ipv4
    neighbor T0_V4 allowas-in 1
    neighbor T0_V4 soft-reconfiguration inbound
    neighbor T0_V4 route-map FROM_T0_V4 in
    neighbor T0_V4 route-map TO_T0_V4 out
  exit-address-family
!
! end of template: frr/bgpd/templates/T0_V4/peer-group.conf.j2
!
