[Unit]
Description=Pensando DPU platform health status provider service
Requires=system-health.service
After=system-health.service

[Service]
ExecStart= python3 /usr/local/bin/health_service.py &
Restart=always
StandardOutput=syslog+console
StandardError=syslog+console

[Install]
WantedBy=multi-user.target