!
! template: bgpd/templates/msft.general/v6.leaf/policy.conf.j2
!
ip community-list standard UPSTREAM_PREFIX permit 8075:54000
!
route-map FROM_TIER2_V6 permit 10
 set community 8075:54000 additive
!
route-map TO_TIER2_V6 deny 5
 match community UPSTREAM_PREFIX
!
route-map TO_TIER2_V6 permit 10
!
! end of template: bgpd/templates/msft.general/v6.leaf/policy.conf.j2
!
