!
! template: bgpd/templates/msft.general/v4.spine.ah/peer-group.conf.j2
!
  neighbor AH_V4 peer-group
  address-family ipv4 unicast
    neighbor AH_V4 activate
    neighbor AH_V4 soft-reconfiguration inbound
    neighbor AH_V4 route-map FROM_AH_V4 in
    neighbor AH_V4 route-map TO_AH_V4 out
    neighbor AH_V4 send-community
    neighbor AH_V4 maximum-prefix 64000 90 warning-only
  exit-address-family
!
! end of template: bgpd/templates/msft.general/v4.spine.ah/peer-group.conf.j2
!
