[Unit]
Description=Monitor system health
Requires=rc-local.service
After=rc-local.service

[Service]
ExecStart=/usr/local/bin/healthd

[Install]
WantedBy=multi-user.target
