[Unit]
Description=Update NTP configuration
Requires=updategraph.service
After=updategraph.service
BindsTo=sonic.target
After=sonic.target

[Service]
Type=oneshot
ExecStart=/usr/bin/ntp-config.sh

[Install]
WantedBy=sonic.target

