!
! template: bgpd/templates/msft.general/v6.mgmttor.mx/peer-group.conf.j2
!
  neighbor TIER0_V6 peer-group
  address-family ipv6 unicast
    neighbor TIER0_V6 activate
    neighbor TIER0_V6 soft-reconfiguration inbound
    neighbor TIER0_V6 route-map FROM_TIER0_V6 in
    neighbor TIER0_V6 route-map TO_TIER0_V6 out
    neighbor TIER0_V6 send-community
    neighbor TIER0_V6 maximum-prefix 1000 90 warning-only
  exit-address-family
!
! end of template: bgpd/templates/msft.general/v6.mgmttor.mx/peer-group.conf.j2
!
