# net device ()
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?", ATTR{ifindex}=="4", ATTR{type}=="1", KERNEL=="eth*", NAME="eth0"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?", ATTR{ifindex}=="2", ATTR{type}=="1", KERNEL=="eth*", NAME="eth2"
