Source: dpu
Section: main
Priority: extra
Maintainer: Ashwin H<Ashwin.H@amd.com>
Build-Depends: debhelper (>= 8.0.0), bzip2
Standards-Version: 3.9.3

Package: dpu
Architecture: arm64
Section: main
Depends: docker-ce
Description: SW image for dpu
