[Unit]
Description= Fancontrol for Device.
BindsTo=sonic.target
After=sonic.target pddf-platform-init.service
Requires=pddf-platform-init.service

DefaultDependencies=no

[Service]
ExecStart=/usr/local/bin/fancontrol.py start
Restart=on-failure

[Install]
WantedBy=multi-user.target

