[Unit]
Description=Platform rd98dx35xx-ext Service
After=sysinit.target
Before=pmon.target

[Service]
ExecStart=/usr/local/bin/rd98dx35xx-ext-init.sh
StandardOutput=tty

[Install]
WantedBy=multi-user.target
