!
! template: bgpd/templates/msft.general/v6.tor/policy.conf.j2
!
!
route-map FROM_TIER1_V6 permit 1
 set ipv6 next-hop prefer-global
!
!
! end of template: bgpd/templates/msft.general/v6.tor/policy.conf.j2
!
