Package: sonic-platform-accton-wedge100bf-32qs
Source: sonic-accton-platform-modules
Version: 1.1
Architecture: amd64
Maintainer: Support <support@edge-core.com>
Installed-Size: 59
Section: main
Priority: extra
Description: kernel modules for platform devices such as fan, led, sfp
