[Unit]
Description=Parses FSIO reads, writes per disk and writes to file and StateDB
After=rc.local.service database.service config-setup.service

[Service]
Type=simple
ExecStart=/usr/local/bin/fsio-sync.sh

[Install]
WantedBy=multi-user.target
