[Unit]
Description=watchdog control service
After=rc-local.service

[Service]
Type=simple
ExecStart=/usr/bin/watchdog-control.sh

[Install]
WantedBy=multi-user.target
