[Unit]
Description=Device-specific configuration
After=updategraph.service

[Service]
Type=oneshot
ExecStart=/usr/bin/device-config.sh

[Install]
WantedBy=multi-user.target
