[Unit]
Description=Delays management framework container until SONiC has started
PartOf=netconf-server.service

[Timer]
OnUnitActiveSec=0 sec
OnBootSec=3min 30 sec
Unit=netconf-server.service

[Install]
WantedBy=timers.target sonic.target sonic-delayed.target
