[Unit]
Description=RestAPI container
Requires=updategraph.service
After=updategraph.service
Before=ntp-config.service

[Service]
User=root
ExecStartPre=-/usr/bin/monit -g monit_group_restapi monitor
ExecStartPre=/usr/bin/{{docker_container_name}}.sh start
ExecStart=/usr/bin/{{docker_container_name}}.sh wait
ExecStop=-/usr/bin/monit -g monit_group_restapi unmonitor
ExecStop=/usr/bin/{{docker_container_name}}.sh stop
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
