[Unit]
Description=TEAMD container
Requires=updategraph.service
After=updategraph.service

[Service]
User={{ sonicadmin_user }}
ExecStart=/usr/local/bin/{{docker_container_name}}.sh attach
ExecStop=/usr/local/bin/{{docker_container_name}}.sh stop

[Install]
WantedBy=multi-user.target
