[Unit]
Description=Update minigraph and set configuration based on minigraph
After=rc-local.service
After=database.service
Requires=database.service

[Service]
Type=oneshot
{% if sonic_asic_platform == 'mellanox' -%}
ExecStartPre=/bin/bash -c "/usr/share/sonic/device/$(sonic-cfggen -H -v DEVICE_METADATA.localhost.platform)/hw-management start"
{% endif -%}
ExecStart=/usr/bin/updategraph
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
