!
! template: bgpd/templates/msft.general/v4.leaf.tor.all/peer-group.conf.j2
!
  neighbor TIER0_V4_DEPLOYMENT_ID_{{ neighbor_deployment_id }} peer-group
  address-family ipv4 unicast
    neighbor TIER0_V4_DEPLOYMENT_ID_{{ neighbor_deployment_id }} activate
    neighbor TIER0_V4_DEPLOYMENT_ID_{{ neighbor_deployment_id }} soft-reconfiguration inbound
    neighbor TIER0_V4_DEPLOYMENT_ID_{{ neighbor_deployment_id }} route-map FROM_TIER0_V4_DEPLOYMENT_ID_{{ neighbor_deployment_id }} in
    neighbor TIER0_V4_DEPLOYMENT_ID_{{ neighbor_deployment_id }} route-map TO_TIER0_V4 out
    neighbor TIER0_V4_DEPLOYMENT_ID_{{ neighbor_deployment_id }} send-community
    neighbor TIER0_V4_DEPLOYMENT_ID_{{ neighbor_deployment_id }} maximum-prefix 12000 90 warning-only
{% if is_storage_device == "false" or "BackEnd" not in device_type %}
{% if CONFIG_DB__BGP_BBR['status'] == 'enabled' %}
    neighbor TIER0_V4_DEPLOYMENT_ID_{{ neighbor_deployment_id }} allowas-in 1
{% endif %}
{% endif %}
  exit-address-family
!
! end of template: bgpd/templates/msft.general/v4.leaf.tor.all/peer-group.conf.j2
!
