!
! template: bgpd/templates/msft.general/v4.leaf.tor.all/policy.conf.j2
!
bgp community-list standard LEAK_COMMUNITY permit 8075:10400
bgp community-list standard UPSTREAM_PREFIX permit 8075:54000
bgp community-list expanded LEAK_PLUS_UPSTREAM permit .*8075:10400.*8075:54000.*
bgp community-list expanded LEAK_PLUS_UPSTREAM permit .*8075:54000.*8075:10400.*
bgp community-list standard drop_community permit no-export
bgp community-list standard SLB_PREFIX permit 8075:9300
!
bgp as-path access-list BBR_AS_PATH permit ^[0-9]+_{{ asn_number }}
bgp as-path access-list SLB_ASN permit _65511$
bgp as-path access-list SLB_ASN permit _64523$
!
ip prefix-list DEFAULT_IPV4 permit 0.0.0.0/0
ip prefix-list IPV4_18_OR_LONGER permit 0.0.0.0/0 ge 18
!
!
{% if constants.bgp.allow_list is defined and constants.bgp.allow_list.enabled is defined and constants.bgp.allow_list.enabled and constants.bgp.allow_list.drop_community is defined %}
!
route-map ALLOW_LIST_DEPLOYMENT_ID_{{ neighbor_deployment_id }}_V4 permit 65532
  match community SLB_PREFIX
  match ip address prefix-list IPV4_18_OR_LONGER
!
route-map ALLOW_LIST_DEPLOYMENT_ID_{{ neighbor_deployment_id }}_V4 permit 65533
  match as-path SLB_ASN
  match ip address prefix-list IPV4_18_OR_LONGER
!
route-map ALLOW_LIST_DEPLOYMENT_ID_{{ neighbor_deployment_id }}_V4 permit 65534
  match as-path BBR_AS_PATH
!
{% if allow_list_default_action == 'deny' %}
route-map ALLOW_LIST_DEPLOYMENT_ID_{{ neighbor_deployment_id }}_V4 permit 65535
  set community no-export additive
!
{% else %}
route-map ALLOW_LIST_DEPLOYMENT_ID_{{ neighbor_deployment_id }}_V4 permit 65535
  set community {{ constants.bgp.allow_list.drop_community }} additive
!
{% endif %}
!
{% endif %}
!
route-map FROM_TIER0_V4_DEPLOYMENT_ID_{{ neighbor_deployment_id }} permit 100
  match ip address prefix-list DEFAULT_IPV4
  match community UPSTREAM_PREFIX
  set local-preference 90
!
route-map FROM_TIER0_V4_DEPLOYMENT_ID_{{ neighbor_deployment_id }} permit 200
  match community LEAK_PLUS_UPSTREAM
  set local-preference 90
!
!
{% if constants.bgp.allow_list is defined and constants.bgp.allow_list.enabled is defined and constants.bgp.allow_list.enabled %}
route-map FROM_TIER0_V4_DEPLOYMENT_ID_{{ neighbor_deployment_id }} permit 300
  call ALLOW_LIST_DEPLOYMENT_ID_{{ neighbor_deployment_id }}_V4
  on-match next
!
route-map FROM_TIER0_V4_DEPLOYMENT_ID_{{ neighbor_deployment_id }} permit 350
  match tag {{ constants.bgp.allow_list.prefix_match_tag }}
  match community LEAK_COMMUNITY
  set comm-list LEAK_COMMUNITY delete
!
route-map FROM_TIER0_V4_DEPLOYMENT_ID_{{ neighbor_deployment_id }} permit 400
  match community drop_community
!
{% endif %}
!
route-map FROM_TIER0_V4_DEPLOYMENT_ID_{{ neighbor_deployment_id }} permit 500
  match community LEAK_COMMUNITY
  match ip address prefix-list IPV4_18_OR_LONGER
  set comm-list LEAK_COMMUNITY delete
!
route-map FROM_TIER0_V4_DEPLOYMENT_ID_{{ neighbor_deployment_id }} permit 600
  match ip address prefix-list IPV4_18_OR_LONGER
!
route-map FROM_TIER0_V4_DEPLOYMENT_ID_{{ neighbor_deployment_id }} deny 10000
!
!
route-map TO_TIER0_V4 permit 100
  match ip address prefix-list DEFAULT_IPV4
  match community UPSTREAM_PREFIX
!
route-map TO_TIER0_V4 permit 200
  match community LEAK_PLUS_UPSTREAM
!
route-map TO_TIER0_V4 permit 300
  match community UPSTREAM_PREFIX
  set community no-export additive
!
route-map TO_TIER0_V4 permit 10000
!
! end of template: bgpd/templates/msft.general/v4.leaf.tor.all/policy.conf.j2
!
