{% if DATABASE %}
{% for redis_inst in DATABASE %}
[program: {{ redis_inst }}]
command=/bin/bash -c "{ [[ -s /var/lib/{{ redis_inst }}/dump.rdb ]] || rm -f /var/lib/{{ redis_inst }}/dump.rdb; } && exec /usr/bin/redis-server /etc/{{ redis_inst }}/{{ redis_inst }}.conf"
priority=2
autostart=true
autorestart=false
stdout_logfile=syslog
stderr_logfile=syslog

{% endfor %}

{% else %}
[program:redis]
command=/bin/bash -c "{ [[ -s /var/lib/redis/dump.rdb ]] || rm -f /var/lib/redis/dump.rdb; } && exec /usr/bin/redis-server /etc/redis/redis.conf"
priority=2
autostart=true
autorestart=false
stdout_logfile=syslog
stderr_logfile=syslog
{% endif %}
